<div class="post">
	<div class="header">
		<%= render post.author %>
		<div class="timestamp">
			<%= time_ago_in_words(post.created_at) %>
			<% if current_user == post.author %>
				<%= link_to "Delete", post, method: :delete,
																		date: { confirm: "Are you sure?" } %>
			<% end %>
		</div>
	</div>
	<div class="content"><%= post.content %></div>
	<div class="like">
		<%= render 'posts/like_options', object: post %>
		<%= link_to pluralize(post.likes.count, "Like"), post_likes_path(post), class: "index" %>
	</div>
	<div class="comment">
		<%= render 'posts/comment_form', object: post %>
		<%= link_to pluralize(post.comments.count, "Comment"), post_comments_path(post) %>
	</div> 
</div>
