<li id="post-<%= post.id %>">
	<div class="user"><%= link_to post.author.full_name, post.author %></div>
	<div class="timestamp">
		<%= time_ago_in_words(post.created_at) %>
		<% if current_user == post.author %>
			<%= link_to "Delete", post, method: :delete,
																	date: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<div class="content"><%= post.content %></div>
	<div class="likes">
		<% if current_user.liked_posts.include?(post) %>
				<b>
					<%= link_to "\u2713 Like", post.likes.find_by(user_id: current_user.id), 
																												method: :delete %>
				</b>																															  
		<% else %>
			<%= link_to "Like", likes_path(post_id: post.id), method: :post %> 
		<% end %>
	</div>
	<div class="likes"><%= link_to pluralize(post.likes.count, "Like"), likes_path(post_id: post.id) %></div>
	<div class="comments"><%= link_to pluralize(post.comments.count, "Comment"), '#' %></div> 
</li>

