<div class="post">
	<div class="user"><%= link_to post.author.full_name, post.author %></div>
	<div class="timestamp">
		<%= time_ago_in_words(post.created_at) %>
		<% if current_user == post.author %>
			<%= link_to "Delete", post, method: :delete,
																	date: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<div class="content"><%= post.content %></div>
	<div class="like">
		<%= render 'posts/like_options', object: post %>
	</div>
	<div class="comment">
		<%= render 'posts/comment_form', object: post %>
	</div>
	<div class="like"><%= link_to pluralize(post.likes.count, "Like"), post_likes_path(post) %></div>
	<div class="comment">
		<%= link_to pluralize(post.comments.count, "Comment"), post_comments_path(post) %>
	</div> 
</div>
